{% extends "general/base.html" %}

{% block title %}การขออนุมัติ{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
<div class="container " style="width: 95%;">
        <h1 class="text-center">คำขออนุมัติการลาของคุณ</h1>

        <!-- Employee Information -->
        <div class="card">
            <h4 class="text-center">ข้อมูลพนักงาน</h4>
            <p class="mx-4"><strong>ชื่อ:</strong> <span id="employee-name">Loading...</span></p>
            <p class="mx-4"><strong>ตำแหน่ง:</strong> <span id="employee-title">Loading...</span></p>
            <p class="mx-4"><strong>แผนก:</strong> <span id="employee-department">Loading...</span></p>
            <p class="mx-4"><strong>รหัสพนักงาน:</strong> <span id="employee-staff-code">Loading...</span></p>
            <p class="mx-4"><strong>สาขา:</strong> <span id="employee-branch">Loading...</span></p>
            <p class="mx-4"><strong>วันเริ่มงาน:</strong> <span id="employee-date-of-start">Loading...</span></p>
        </div>
        <hr>

        <!-- Leave Balances -->
        <h4 class="text-center">สิทธิ์คงเหลือ</h4>
        <table class="table table-bordered ">
            <thead class="table-light">
                <tr>
                    <th>ประเภทการลา</th>
                    <th>สิทธิ์ที่ใช้แล้ว</th>
                    <th>สิทธิ์คงเหลือ</th>
                </tr>
            </thead>
            <tbody id="leave-balance-table">
                <tr>
<!--                    <td colspan="3" class="text-center">Loading...</td>-->
                    <td colspan="3" class="text-center text-muted">ไม่พบข้อมูลสิทธิ์คงเหลือ</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <!-- Leave Request Form -->

        <form id="leave-request-form" enctype="multipart/form-data">
            <h4 class="text-center">การบันทึกคำขออนุมัติ</h4>
            <div class="row g-3">
                <div class="mb-3 col-md-6">
                    <label for="start-date" class="form-label">เริ่มวันที่/เวลา</label>
                    <input type="date" id="start-date" name="start_date" class="form-control" required>
                </div>
                <div class="mb-3 col-md-3">
                    <label for="start-hour" class="form-label">ชั่วโมง</label>
                    <select id="start-hour" name="start_hour" class="form-select" required>
                        <!-- ชั่วโมงระหว่าง 07-21 -->
                        {% for hour in hours_range %}
                        <option value="{{ hour }}">{{ hour }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 col-md-3">
                    <label for="start-minute" class="form-label">นาที</label>
                    <select id="start-minute" name="start_minute" class="form-select" required>
                        <option value="00">00</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
            <div class="row g-3">
                <div class="mb-3 col-md-6">
                    <label for="end-date" class="form-label">ถึงวันที่/เวลา</label>
                    <input type="date" id="end-date" name="end_date" class="form-control" required>
                </div>
                <div class="mb-3 col-md-3">
                    <label for="end-hour" class="form-label">ชั่วโมง</label>
                    <select id="end-hour" name="end_hour" class="form-select" required>
                        {% for hour in hours_range %}
                        <option value="{{ hour }}">{{ hour }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 col-md-3">
                    <label for="end-minute" class="form-label">นาที</label>
                    <select id="end-minute" name="end_minute" class="form-select" required>
                        <option value="00">00</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="leave-type" class="form-label">ประเภทการลา</label>
                <select class="form-select" id="leave-type" name="type" required>
                    <option value="">Loading...</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="reason" class="form-label">เหตุผล</label>
                <textarea class="form-control" id="reason" name="reason" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="leave-image" class="form-label">รูปภาพ</label>
                <input type="file" class="form-control" id="leave-image" name="image" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary btn-sm" style="width: 25%;">ยืนยัน</button>
        </form>
        <hr>


        <!-- Leave Request Filters -->
        <div class="mb-4">
            <h4 class="text-center">ค้นหาและกรองคำขออนุมัติ</h4>
            <form id="filter-form">
                <div class="mb-3">
                    <label for="filter-start-date" class="form-label">วันที่เวลา</label>
                    <input type="datetime-local" id="filter-start-date" class="form-control" step="1800">
                </div>
                <div class="mb-3">
                    <label for="filter-leave-type" class="form-label">ประเภทการลา</label>
                    <select id="filter-leave-type" class="form-select">
                        <option value="">ทั้งหมด</option>
                    </select>
                </div>
<!--                <div class="d-flex justify-content-between gap-2">-->
                    <button type="button" id="search-button" class="btn btn-primary btn-sm" style="width: 25%;">ค้นหา</button>
                    <button type="button" id="reset-button" class="btn btn-secondary btn-sm" style="width: 25%;">ล้าง</button>
<!--                    <button type="button" id="asd-button" class="btn btn-secondary w-50">ล้าง</button>-->
<!--                </div>-->
            </form>
        </div>

        <!-- Leave History -->
        <h4 class="text-center">ประวัติคำขออนุมัติ</h4>
        <div id="leave-history" class="d-flex flex-column">
            <div class="card">
                <p class="text-center text-muted my-2">กรุณาค้นหาเพื่อดูข้อมูล !</p>
            </div>
        </div>

    </div>
</div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const leaveTypeSelect = document.getElementById("leave-type");
            const leaveBalanceTable = document.getElementById("leave-balance-table");
            const leaveForm = document.getElementById("leave-request-form");
            const leaveHistory = document.getElementById("leave-history");
            const searchButton = document.getElementById("search-button");
            const resetButton = document.getElementById("reset-button");
            const filterForm = document.getElementById("filter-form");
<!--            const startDatetimeInput = document.getElementById("start-datetime");-->
<!--            const endDatetimeInput = document.getElementById("end-datetime");-->

<!--            flatpickr("#start-datetime", {-->
<!--                enableTime: true,-->
<!--                dateFormat: "d/m/Y H:i",-->
<!--                time_24hr: true,-->
<!--                minuteIncrement: 30,-->
<!--            });-->

<!--            flatpickr("#end-datetime", {-->
<!--                enableTime: true,-->
<!--                dateFormat: "d/m/Y H:i",-->
<!--                time_24hr: true,-->
<!--                minuteIncrement: 30,-->
<!--            });-->

<!--            flatpickr("#filter-start-date", {-->
<!--                enableTime: true,-->
<!--                dateFormat: "d/m/Y H:i",-->
<!--                time_24hr: true,-->
<!--                minuteIncrement: 30,-->
<!--            });-->

<!--            function validateInterval(input) {-->
<!--                const datetime = new Date(input.value);-->
<!--                const minutes = datetime.getMinutes();-->
<!--                if (minutes !== 0 && minutes !== 30) {-->
<!--                    Swal.fire(-->
<!--                        "Invalid Time",-->
<!--                        "โปรดเลือกเวลาที่ลงท้ายด้วย 00 หรือ 30 นาทีเท่านั้น",-->
<!--                        "error"-->
<!--                    );-->
<!--                    input.value = ""; // Clear invalid value-->
<!--                }-->
<!--            }-->

            // Load employee information
            fetch("/attendance/get-staff/")
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        Swal.fire("Error", data.error, "error");
                    } else {
                        document.getElementById("employee-name").textContent = `${data.staff_fname} ${data.staff_lname}`;
                        document.getElementById("employee-title").textContent = data.staff_title || "-";
                        document.getElementById("employee-department").textContent = data.staff_department || "-";
                        document.getElementById("employee-staff-code").textContent = data.staff_code || "-";
                        document.getElementById("employee-branch").textContent = data.staff_brc || "-";
                        document.getElementById("employee-date-of-start").textContent = data.date_of_start || "-";
                    }
                })
                .catch(err => console.error("Error loading employee information:", err));

            // Load leave types
            fetch("/attendance/get-leave-types/")
                .then(response => response.json())
                .then(data => {
                    leaveTypeSelect.innerHTML = "";
                    data.forEach(type => {
                        const option = document.createElement("option");
                        option.value = type.id;
                        option.textContent = type.th_name;
                        leaveTypeSelect.appendChild(option);
                    });
                })
                .catch(err => console.error("Error loading leave types:", err));

            // Load leave balances
            fetch("/attendance/get-leave-balances/")
                .then(response => response.json())
                .then(data => {
                    leaveBalanceTable.innerHTML = "";
                    data.forEach(balance => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                            <td>${balance.leave_type}</td>
                            <td>${Math.floor(balance.used_hours / 8)} วัน (${balance.used_hours} ชม.)</td>
                            <td>${Math.floor(balance.remaining_hours / 8)} วัน (${balance.remaining_hours} ชม.)</td>
                        `;
                        leaveBalanceTable.appendChild(row);
                    });
                })
                .catch(err => console.error("Error loading leave balances:", err));

            // ฟังก์ชันโหลดตัวเลือกประเภทการลาในส่วนค้นหา
            function loadFilterLeaveTypes() {
                fetch("/attendance/get-leave-types/")
                    .then(response => response.json())
                    .then(data => {
                        const filterLeaveTypeSelect = document.getElementById("filter-leave-type");
                        filterLeaveTypeSelect.innerHTML = '<option value="">ทั้งหมด</option>';
                        data.forEach(type => {
                            const option = document.createElement("option");
                            option.value = type.id;
                            option.textContent = type.th_name;
                            filterLeaveTypeSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error("Error fetching leave types:", error));
            }

            function formatDateTime(dateString) {
                const options = { day: '2-digit', month: '2-digit', year: 'numeric', hour: 'numeric', minute: '2-digit', hourCycle: 'h23' };
                const formattedDate = new Intl.DateTimeFormat('en-EN', options).format(new Date(dateString));
                return formattedDate.replace(',', ''); // ลบลูกน้ำระหว่างวันที่กับเวลา
            }

            // Search and filter leave history
            searchButton.addEventListener("click", () => {
                const startDate = document.getElementById("filter-start-date").value;
                const leaveType = document.getElementById("filter-leave-type").value;

<!--                // Show loading alert-->
<!--                Swal.fire({-->
<!--                    title: 'กำลังค้นหาข้อมูล...',-->
<!--                    text: 'กรุณารอสักครู่...',-->
<!--                    allowOutsideClick: false,-->
<!--                    didOpen: () => {-->
<!--                        Swal.showLoading();-->
<!--                    }-->
<!--                });-->

                let url = "/attendance/get-leave-attendances/?";
                if (startDate) url += `start_datetime=${startDate}&`;
                if (leaveType) url += `leave_type=${leaveType}`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        leaveHistory.innerHTML = "";
                        if (data.length > 0) {
                            data.forEach(request => {
                                const card = document.createElement("div");
                                card.className = "card";
                                card.innerHTML = `
                                    <div class="card-body">
                                        <h4 class="card-title my-2">รหัสคำขออนุมัติ: ${request.id}</h4>
                                        <p class="card-text">ประเภท: ${request.leave_type}</p>
                                        <p class="card-text">ช่วงเวลา: ${formatDateTime(request.start_datetime)} - ${formatDateTime(request.end_datetime)}</p>
                                        <p class="card-text">เหตุผล: ${request.reason}</p>
                                        <p class="card-text">ผู้อนุมัติ: ${request.approve_user}</p>
                                        <p class="card-text">
                                            สถานะ: <span class="badge ${getStatusBadge(request.status)}">${request.status}</span>
                                        </p>
                                        <a href="/attendance/leave-request-detail/${request.id}/" class="btn btn-sm btn-secondary">ดูรายละเอียด</a>
                                    </div>
                                `;
                                leaveHistory.appendChild(card);
                            });
                        } else {
                            leaveHistory.innerHTML = `<p class="text-center text-muted">ไม่พบข้อมูลคำขอการลาตามเงื่อนไข</p>`;
                        }
                    })
                    .catch(err => console.error("Error filtering leave history:", err));
<!--                Swal.close(); // Close loading alert-->
            });

            // Reset filters
            resetButton.addEventListener("click", () => {
                filterForm.reset();
                leaveHistory.innerHTML = `<p class="text-center text-muted">กรุณาค้นหาเพื่อดูข้อมูล</p>`;
            });

            // โหลดตัวเลือกประเภทการลาในส่วนกรอง
            loadFilterLeaveTypes();

            // Helper function for status badge
            function getStatusBadge(status) {
                switch (status.toLowerCase()) {
                    case "อนุมัติ":
                        return "bg-success";
                    case "รออนุมัติ":
                        return "bg-warning text-dark";
                    case "ปฏิเสธ":
                        return "bg-danger";
                    default:
                        return "bg-secondary";
                }
            }

            // Submit leave request
            leaveForm.addEventListener("submit", e => {
                e.preventDefault();

                // รับค่าจาก input
                const startDate = document.getElementById("start-date").value;
                const startHour = document.getElementById("start-hour").value;
                const startMinute = document.getElementById("start-minute").value;
                const endDate = document.getElementById("end-date").value;
                const endHour = document.getElementById("end-hour").value;
                const endMinute = document.getElementById("end-minute").value;

                // ตรวจสอบค่าที่กรอก
                if (!startDate || !startHour || !startMinute || !endDate || !endHour || !endMinute) {
                    alert("กรุณากรอกข้อมูลให้ครบถ้วน");
                    return;
                }

                // รวมวันที่ เวลา ชั่วโมง และนาที
                const startDatetime = `${startDate}T${startHour.padStart(2, '0')}:${startMinute}`;
                const endDatetime = `${endDate}T${endHour.padStart(2, '0')}:${endMinute}`;

<!--                // รวมวันที่และเวลาสำหรับการส่งไปยังเซิร์ฟเวอร์-->
<!--                const startDatetime = `${startDate}T${startHour.padStart(2, '0')}:00`;-->
<!--                const endDatetime = `${endDate}T${endHour.padStart(2, '0')}:00`;-->

                const formData = new FormData(leaveForm);
                formData.append("start_datetime", startDatetime);
                formData.append("end_datetime", endDatetime);

<!--                // แปลงรูปแบบวันที่ให้เป็น '%Y-%m-%dT%H:%M'-->
<!--                const startDatetime = formData.get("start_datetime");-->
<!--                const endDatetime = formData.get("end_datetime");-->

<!--                formData.set("start_datetime", convertToISOFormat(startDatetime));-->
<!--                formData.set("end_datetime", convertToISOFormat(endDatetime));-->

                // Show loading alert
                Swal.fire({
                    title: 'กำลังค้นหาข้อมูล...',
                    text: 'กรุณารอสักครู่...',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });

                fetch("/attendance/leave-request-auth/", {
                    method: "POST",
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        Swal.fire("Error", data.error, "error");
                    }
                     else {
                        Swal.fire("Success", "บันทึกคำขออนุมัติเสร็จสิ้น", "success").then(() => {
                            location.reload();
                        });
                    }
                })
                .catch(err => {
                    Swal.fire("Error", "An error occurred. Please try again.", "error");
                    console.error("Error submitting leave request:", err);
                });
            });
            // ฟังก์ชันแปลงวันที่ให้เป็น ISO Format
            function convertToISOFormat(dateString) {
                const [day, month, year, time] = dateString.split(/[/\s:]/);
                let formattedDate = `${year}-${month}-${day}T${time}`;

                // ตรวจสอบว่าไม่มีนาที ให้เพิ่ม :00
                if (!formattedDate.includes(":")) {
                    formattedDate += ":00";
                }

                return formattedDate;
            }
<!--            startDatetimeInput.addEventListener("blur", () => validateInterval(startDatetimeInput));-->
<!--            endDatetimeInput.addEventListener("blur", () => validateInterval(endDatetimeInput));-->
        });
    </script>
{% endblock %}