{% extends "general/base.html" %}

{% block title %}อัปเดตตารางกะ{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center my-5">
    <div class="container " style="width: 95%;">
        <h1 class="text-center">เลือกเวลาทำงานของคุณ</h1>
        <hr>

        <form id="shift-form" method="POST">
            {% csrf_token %}
            <div class="row ">
                <div class="col-md-4 my-4">
                    <label>เลือกเดือน</label>
                    <select id="month-select" name="month" class="form-select form-input">

                        <option value="1">21 ม.ค - 20 ก.พ. </option>
                        <option value="2">21 ก.พ. - 20 มี.ค. </option>
                        <option value="3">21 มี.ค. - 20 เม.ย. </option>
                        <option value="4">21 เม.ย. - 20 พ.ค. </option>
                        <option value="5">21 พ.ค. - 20 มิ.ย. </option>
                        <option value="6">21 มิ.ย. - 20 ก.ค. </option>
                        <option value="7">21 ก.ค. - 20 ส.ค. </option>
                        <option value="8">21 ส.ค. - 20 ก.ย. </option>
                        <option value="9">21 ก.ย. - 20 ต.ค. </option>
                        <option value="10">21 ต.ค. - 20 พ.ย. </option>
                        <option value="11">21 พ.ย. - 20 ธ.ค. </option>
                        <option value="12">21 ธ.ค. - 20 ม.ค. </option>

                    </select>
                </div>
                <div class="col-md-4 my-4">
                    <label>เลือกปี</label>
                    <select id="year-select" name="year" class="form-select form-input">
                        {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 my-4">
                    <label>เลือกกะทำงาน</label>
                    <select id="shift-select" name="shift" class="form-select form-input">
                        {% for shift in shifts %}
                        <option value="{{ shift.id }}">{{ shift.name }} น.</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="text-start mt-4">
                <button type="submit" class="btn btn-primary">บันทึก</button>
            </div>
        </form>


        <div id="response-message" class="text-center"></div>
    </div>
</div>

<script>
document.getElementById("shift-form").addEventListener("submit", function(event) {
    event.preventDefault();
    const formData = new FormData(this);

    // Show loading alert
    Swal.fire({
        title: 'กำลังบันทึกข้อมูล...',
        text: 'กรุณารอสักครู่...',
        allowOutsideClick: false,
        didOpen: () => {
            Swal.showLoading();
        }
    });

    fetch("{% url 'shift_schedule_update' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            Swal.fire("ผิดพลาด", data.error, "error");
        }
         else {
            Swal.fire("สำเร็จ", "บันทึกเวลาทำงานสร็จสิ้น !", "success").then(() => {
                location.reload();
            });
        }
    })
});
</script>
{% endblock %}
